:root {
  --button-shadow: 10px;
}

.icon, .title-text{
  display: inline;
  float: left;
}

body {
  font-size: 10px;
  font-family: 'Ubuntu', sans-serif;
}

.loading-icon-container {
  position:fixed;
  left: calc(50% - 50px);
  top: 50%;
  height: 75px;
  width: 100px;
  background-color: transparent;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.loading-icon {
  display: block;
  margin: 0 auto;
  padding-top: 5px;
  width: 60px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
}
.title {
  text-align: center;
  font-size: 4em;
  margin: 50px;
}


.icon {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  position: relative;
  left: -1em;
  bottom: 1.5em;
  margin:1em;
}


.list {
  list-style-type: none;
  float: left;
  clear: both;
  font-size: 1.2em;
}

.container {
  display: none;
  padding: 1em;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  background-color: #408E2F;
  color: black;
  min-height: 150px;
  width: 250px;
  margin: 0 auto;
  -webkit-box-shadow: 0.2em 0.2em 0.2em black;
  -moz-box-shadow: 0.2em 0.2em 0.2em black;
  box-shadow:  0.2em 0.2em 0.2em black;
}


.city {
  font-size: 2.5em;
}

.btn {
  background-color: #9AD58E;
  color: black;
  border: none;
  font-size: 1.2em;
  box-shadow:  0.2em 0.2em 0.2em grey;
  -webkit-box-shadow: 0.2em 0.2em 0.2em black;
  -moz-box-shadow: 0.2em 0.2em 0.2em black;
  position: relative;
  bottom: -105px;
  left: 90px;
}

.btn:active {
  background-color: #216A12;
  color: white;
}

.refresh-link{
  text-decoration: none;
  color: black;
}

.fa-refresh {
  position: relative;
  left: 7em;
  bottom: 2em;
  font-size: 1.5rem;
}

.fa-refresh:active {
  color: white;
}